#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo_container {
  background-color:rgb(18, 24, 32);
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px 50px;
}

.todo_container__title {
  margin: 0;
  padding-bottom: 10px;
}

.todo_container__add-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-item__btn {
  align-self: end;
  margin: 5px 0;
}

.add-item__input {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.todo_container__list {
  text-align: start;
  font-size: 1.2rem;
  word-wrap: break-word;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__delete {
  color: rgb(105, 14, 14);
  cursor: pointer;
  float:right;
  padding-left: 10px;
  
}

.list__delete:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
}